<!DOCTYPE html>
<html ng-app="simpleApp">
<head>
    <meta charset="UTF-8">
    <title>WebTunings</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="index.js"></script>
    <link href="index.css" rel="stylesheet">
</head>
<body>

<div ng-controller="simpleController as ctrl">

    <form>
        Search(All fields): <input type="text" ng-model="ctrl.search.$">
        Search(name only): <input type="text" ng-model="ctrl.search.name">
        Search(age only): <input type="text" ng-model="ctrl.search.age">
        Search(city only): <input type="text" ng-model="ctrl.search.city">
        Strict: <input type="checkbox" ng-model="ctrl.strict">
        Limit: <input type="number" ng-model="ctrl.limit">
    </form>

    <table>
        <tr>
            <th>No</th>
            <th><a href="" ng-click="ctrl.sort('name')">Name</a></th>
            <th><a href="" ng-click="ctrl.sort('age')">Age</a></th>
            <th><a href="" ng-click="ctrl.sort('city')">City</a></th>
        </tr>
        <tr ng-repeat="entry in ctrl.collection | filter:ctrl.search:ctrl.strict | orderBy:ctrl.sortProperty:ctrl.reverseSort | limitTo: ctrl.limit"><td> {{$index + 1}} </td>
            <td>{{ entry.name }} </td>
            <td>{{ entry.age }} </td>
            <td>{{ entry.city }} </td>
        </tr>
    </table>

    <form ng-submit="ctrl.addEntry()">
        Name:<input type="text" ng-model="ctrl.newData.name" required>
        Age:<input type="number" ng-model="ctrl.newData.age" required>
        City:<input type="text" ng-model="ctrl.newData.city" required>
        <input type="submit" value="add">
    </form>


</div>

</body>
</html>